.home {
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}

.home .wrapper {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.home input {
    width: 300px;
    display: inline;
}

.home h1 {
    margin-bottom: 70px;
    font-size: 64px;
    text-shadow: 1px 1px #999;
}