.content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.content .left {
    width: 199px;
    position: absolute;
    top: 0;
    bottom: 0;
    background: #EEE;
    border-right: 1px solid #CCC;
}

.content .right {
    float: left;
    position: absolute;
    left: 200px;
    right: 0;
    bottom: 0;
    top: 0;
    padding: 20px;
}

.content .left .nav {
    margin-top: 20px;
}

.content .left .back {
    margin-top: 15px;
    margin-left: 15px;
}

.content .right > * {
    width: 100%;
    height: 100%;
}